# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.11

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_SUBDIR: "algorithms_python"


# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - env/

# commands to run in the Docker container before starting each job.
before_script:
  - python -V  # Print out python version for debugging
  - python -m venv env
  - source env/bin/activate
  - python -m pip install --upgrade pip
  - pip install -r $PROJECT_SUBDIR/requirements.txt


# different stages in the pipeline
stages:
#  - Static Analysis
  - Test
  - Coverage

#defines the job in Static Analysis
#pylint:
#  stage: Static Analysis
#  allow_failure: true
#  script:
#  # Ignore line limit
#  - pylint -d C0103 -d C0114 -d C0115 -d C0116 -d C0301 -d R0913 -d R0914 src/lazyloader/*.py

pytest:
  stage: Test
  # Don't use. This would override the global before_script
#  before_script:
  script:
    - pip install pytest pytest-cov
    - pytest $PROJECT_SUBDIR/tests/ --junitxml=report.xml --cov-report=html --cov=$PROJECT_SUBDIR/src/
    - coverage xml
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 2 weeks
